#search {
    background-color:whitesmoke;
    border-color:rgba(31, 209, 162, 0.91);
    border-style: solid;
    font-size:medium;
    border-radius: 20px;
    border: 2px solid;
    margin: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 10%;
    color: rgb(40, 202, 148);
    font-family:monospace;

}

#plus {
    border-radius: 50%;
    font-size: medium;
    background-color:rgba(31, 209, 162, 0.91);
    border-style: solid;
    border-color:rgb(31, 209, 162, 0.91);
    color:white;
    margin: 5%;

}

#account {
    background-color: rgb(55, 88, 255);
    color:white;
    border-color:rgb(55, 88, 255);
    border-style: solid;
    width: 10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0.5%;
    box-shadow: 4px 4px black;

}